.header {
  height: 70px;
  display: flex;
  justify-content: center;
}
.header nav {
  cursor: pointer;
}
.header__container {
  width: 90%;
  display: flex;
  align-items: center;
}
.header__logo {
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
  margin-left: 32px;
}
.header__h {
  padding: 11px 13px;
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 18px;
}
.header__name {
  flex: 1;
  list-style: none;
  margin-left: 13px;
}
.header__name li:nth-child(1) {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
}
.header__name li:nth-child(2) {
  font-family: var(--font-archivo);
  font-weight: 400;
  font-size: 14px;
}
.header__account-search img:nth-child(2) {
  margin-left: 28px;
}

.principal {
  background-color: var(--principal-background);
  padding-bottom: 75px;
}
.principal h4 {
  width: 63%;
  font-family: var(--font-archivo);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: var(--white-text);
  padding-top: 75px;
  margin-bottom: 40px;
  margin-left: 5%;
}
.principal h1 {
  width: 90%;
  font-family: var(--old-standard);
  font-weight: 400;
  font-size: 56px;
  letter-spacing: -1.2px;
  color: var(--white-text);
  margin-left: 5%;
  margin-bottom: 40px;
}
.principal__button--gold {
  display: block;
  width: 217px;
  height: 60px;
  background-color: var(--gold);
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  cursor: pointer;
  border: none;
  margin-bottom: 24px;
  margin-left: 5%;
}
.principal__button--black {
  display: block;
  width: 217px;
  height: 60px;
  background-color: var(--principal-background);
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.33);
  margin-left: 5%;
}

.check-in {
  background-color: var(--secondary-background);
  padding-bottom: 36px;
}
.check-in__arrival {
  display: block;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 16px;
  color: var(--white-text);
  margin-left: 5%;
  margin-bottom: 24px;
  padding-top: 36px;
}
.check-in__departure {
  display: block;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 16px;
  color: var(--white-text);
  margin-left: 5%;
  margin-bottom: 24px;
}
.check-in__input-arrival {
  display: flex;
  flex-direction: row-reverse;
  width: 89%;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--gold);
  background-color: var(--secondary-background);
  color: #686868;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
  margin-left: 5%;
  margin-bottom: 30px;
}
.check-in__input-departure {
  display: flex;
  flex-direction: row-reverse;
  width: 89%;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--gold);
  background-color: var(--secondary-background);
  color: #686868;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
  margin-left: 5%;
  margin-bottom: 42px;
}
.check-in button {
  display: block;
  width: 217px;
  height: 60px;
  background-color: var(--gold);
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  cursor: pointer;
  border: none;
  width: 250px;
  margin-left: 5%;
}

.about-us {
  margin-top: 60px;
}
.about-us h6 {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.8px;
  color: var(--sections-color-letter);
  padding-top: 38px;
  margin-left: 5%;
  margin-bottom: 32px;
}
.about-us h2 {
  width: 90%;
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 56px;
  margin-bottom: 16px;
  color: var(--color-titles);
  margin: 0 auto;
}
.about-us p:nth-child(1) {
  width: 90%;
  font-family: var(--font-archivo);
  font-weight: 400;
  font-size: 14px;
  color: var(--sections-color-letter);
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.about-us button {
  display: block;
  width: 217px;
  height: 60px;
  background-color: var(--gold);
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  cursor: pointer;
  border: none;
  margin-left: 5%;
  margin-bottom: 60px;
}
.about-us__strong-team-img {
  width: 270px;
  height: 300px;
  background-color: #E4E4E4;
  margin: 0 auto;
}
.about-us__card-title--black {
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 21px;
  color: var(--color-titles);
}
.about-us__card-title--white {
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 21px;
  color: var(--white-text);
}
.about-us__card-description--black {
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: var(--color-titles);
  width: 74%;
  margin: 0 auto;
  padding-bottom: 38px;
}
.about-us__card-description--white {
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: var(--white-text);
  width: 74%;
  margin: 0 auto;
  padding-bottom: 38px;
}
.about-us__strong-team {
  width: 270px;
  margin: 0 auto;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
  position: relative;
  margin-bottom: 45px;
}
.about-us__strong-team img:nth-child(2) {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 54px;
}
.about-us__strong-team img:nth-child(1) {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: -10;
}
.about-us__luxury-img {
  width: 270px;
  height: 300px;
  background-color: #E4E4E4;
  margin: 0 auto;
}
.about-us__luxury-room {
  width: 270px;
  background-color: var(--secondary-background);
  margin: 0 auto;
}
.about-us__luxury-room img {
  display: block;
  margin: 0 auto;
  margin-bottom: 29px;
  padding-top: 54px;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

:root {
  --principal-background: #333333;
  --white-text: #ffffff;
  --gold: #BEAD8E;
  --secondary-background: #222222;
  --sections-color-letter: #777777;
  --color-titles: #111;
  --font-archivo: "Archivo";
  --font-old-standard: "Old Standard TT";
  --font-roboto: "Roboto";
}

/*# sourceMappingURL=styles.css.map */
