.header {
  width: 100%;
  position: fixed;
  height: 70px;
  background-color: var(--white-text);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.header nav {
  cursor: pointer;
}
.header__container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
  margin-left: 32px;
}
.header__h {
  padding: 11px 13px;
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 18px;
}
.header__name {
  flex: 1;
  list-style: none;
  margin-left: 13px;
}
.header__name li:nth-child(1) {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
}
.header__name li:nth-child(2) {
  font-family: var(--font-archivo);
  font-weight: 400;
  font-size: 14px;
}
.header__account-search img:nth-child(2) {
  margin-left: 28px;
}
.header a {
  text-decoration: none;
  color: var(--color-titles);
}
.header__home-button {
  display: flex;
}
.header__burger-menu.active {
  display: none;
}
.header__burger-menu {
  display: inline-block;
}
.header__x-menu {
  display: none;
}
.header__x-menu.active {
  display: inline-block;
}
.header__dropdown-menu {
  display: none;
}
.header__dropdown-menu.active {
  list-style: none;
  position: fixed;
  width: 100%;
  transform: translateY(67%);
  height: 197px;
  z-index: 15;
  background-color: var(--white-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.header__dropdown-menu.active li {
  margin-left: 5%;
  font-family: var(--font-archivo);
  font-weight: 600;
  font-size: 16px;
  color: var(--color-titles);
}

.principal {
  background-color: var(--principal-background);
  padding-bottom: 75px;
}
.principal h4 {
  width: 63%;
  font-family: var(--font-archivo);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: var(--white-text);
  padding-top: 145px;
  margin-bottom: 40px;
  margin-left: 5%;
}
.principal h1 {
  width: 90%;
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 56px;
  letter-spacing: -1.2px;
  color: var(--white-text);
  margin-left: 5%;
  margin-bottom: 40px;
}
.principal__button--gold {
  display: block;
  width: 217px;
  height: 60px;
  background-color: var(--gold);
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  cursor: pointer;
  border: none;
  margin-bottom: 24px;
  margin-left: 5%;
}
.principal__button--black {
  display: block;
  width: 217px;
  height: 60px;
  background-color: var(--principal-background);
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.33);
  margin-left: 5%;
}

.check-in {
  background-color: var(--secondary-background);
  padding-bottom: 36px;
}
.check-in__arrival {
  display: block;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 16px;
  color: var(--white-text);
  margin-left: 5%;
  margin-bottom: 24px;
  padding-top: 36px;
}
.check-in__departure {
  display: block;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 16px;
  color: var(--white-text);
  margin-left: 5%;
  margin-bottom: 24px;
}
.check-in__input-arrival {
  display: flex;
  flex-direction: row-reverse;
  width: 89%;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--gold);
  background-color: var(--secondary-background);
  color: #686868;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
  margin-left: 5%;
  margin-bottom: 30px;
}
.check-in__input-departure {
  display: flex;
  flex-direction: row-reverse;
  width: 89%;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--gold);
  background-color: var(--secondary-background);
  color: #686868;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
  margin-left: 5%;
  margin-bottom: 42px;
}
.check-in button {
  display: block;
  width: 217px;
  height: 60px;
  background-color: var(--gold);
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  cursor: pointer;
  border: none;
  width: 250px;
  margin-left: 5%;
}

.discover {
  margin-top: 60px;
}
.discover h6 {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.8px;
  color: var(--sections-color-letter);
  padding-top: 38px;
  margin-left: 5%;
  margin-bottom: 32px;
}
.discover h2 {
  width: 95%;
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 56px;
  margin-bottom: 16px;
  color: var(--color-titles);
  overflow-wrap: break-word;
  margin-left: 5%;
}
.discover__principal-description {
  width: 90%;
  font-family: var(--font-archivo);
  font-weight: 400;
  font-size: 14px;
  color: var(--sections-color-letter);
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.discover button {
  display: block;
  width: 217px;
  height: 60px;
  background-color: var(--gold);
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  cursor: pointer;
  border: none;
  margin-left: 5%;
  margin-bottom: 60px;
}
.discover__strong-team-img {
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.discover__card-title--black {
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 21px;
  color: var(--color-titles);
}
.discover__card-title--white {
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 21px;
  color: var(--white-text);
}
.discover__card-description--black {
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: var(--color-titles);
  width: 74%;
  margin: 0 auto;
  padding-bottom: 38px;
}
.discover__card-description--white {
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: var(--white-text);
  width: 74%;
  margin: 0 auto;
  padding-bottom: 38px;
}
.discover__strong-team {
  width: 270px;
  margin: 0 auto;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
  position: relative;
  margin-bottom: 45px;
}
.discover__strong-team img:nth-child(2) {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 54px;
}
.discover__strong-team img:nth-child(1) {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: -10;
}
.discover__luxury-img {
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.discover__luxury-room {
  width: 270px;
  background-color: var(--secondary-background);
  margin: 0 auto;
  margin-bottom: 60px;
}
.discover__luxury-room img {
  display: block;
  margin: 0 auto;
  margin-bottom: 29px;
  padding-top: 54px;
}

.rooms h6 {
  text-align: center;
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--sections-color-letter);
  margin-bottom: 24px;
}
.rooms h2 {
  text-align: center;
  font-family: var(--font-old-standard);
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: var(--secondary-background);
  margin-bottom: 36px;
}
.rooms__swiper-slide {
  position: relative;
}
.rooms__services {
  position: relative;
  margin: 0 auto;
  height: 40px;
  width: 256px;
  box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
  background-color: var(--white-text);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(50%);
}
.rooms__description-price {
  position: relative;
  margin: 0 auto;
  width: 90%;
  background-color: var(--white-text);
  transform: translateY(-10%);
}
.rooms__description-price h4 {
  padding-top: 19px;
  margin-bottom: 12px;
  text-align: center;
  font-family: var(--font-old-standard);
  font-size: 28px;
  letter-spacing: -1.2px;
  font-weight: 400;
  color: var(--secondary-background);
}
.rooms__description-price p:nth-child(2) {
  text-align: center;
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--sections-color-letter);
  margin-bottom: 12px;
}
.rooms__description-price p:nth-child(3) {
  text-align: center;
  font-family: var(--font-archivo);
  font-size: 32px;
  font-weight: 700;
  color: var(--gold);
  padding-bottom: 19px;
}
.rooms__description-price p:nth-child(3) span {
  font-size: 13px;
}
.rooms__swiper {
  width: 100%;
}
.rooms__slider-imgs {
  width: 100%;
  object-fit: cover;
}
.rooms__swiper-buttons {
  --swiper-navigation-size: 10px;
  --swiper-navigation-color: var(--color-titles);
  padding: 18px;
  background-color: var(--white-text);
  top: 35% !important;
}
.rooms__swiper-buttons:hover {
  background-color: var(--gold);
  --swiper-navigation-color: var(--white-text);
  transition: 0.3s;
}

.intro-video {
  background-color: var(--secondary-background);
  padding-bottom: 48px;
}
.intro-video h6 {
  font-family: var(--font-archivo);
  font-size: 14px;
  letter-spacing: 2.8px;
  color: #BDAC8D;
  padding-top: 64px;
  margin-left: 5%;
  margin-bottom: 32px;
}
.intro-video h2 {
  width: 90%;
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: var(--white-text);
  margin-left: 5%;
}
.intro-video p {
  width: 90%;
  font-family: var(--font-archivo);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #c2c2c2;
  margin-left: 5%;
  margin-bottom: 32px;
}
.intro-video__video {
  width: 90%;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 36px;
}
.intro-video__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro-video button {
  display: block;
  width: 217px;
  height: 60px;
  background-color: var(--gold);
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  cursor: pointer;
  border: none;
  background-color: #BDAC8D;
  font-family: var(--font-archivo);
  font-size: 14px;
  letter-spacing: 2.8px;
  margin-left: 5%;
}

.facilities h6 {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--sections-color-letter);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 24px;
}
.facilities h2 {
  font-family: var(--font-old-standard);
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: var(--secondary-background);
  text-align: center;
}
.facilities__img-number {
  width: 81%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.facilities__img-number img {
  object-fit: contain;
  align-self: flex-end;
}
.facilities__number-01 {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 120px;
  color: rgba(34, 34, 34, 0.04);
}
.facilities__title-1 {
  font-family: var(--font-old-standard);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  color: var(--secondary-background);
  margin-bottom: 28px;
  margin-top: 37px;
  margin-left: 9%;
}
.facilities__text-1 {
  width: 67%;
  font-family: var(--font-archivo);
  font-size: 14px;
  line-height: 24px;
  color: var(--sections-color-letter);
  margin-left: 9%;
}

.food-menu {
  margin-top: 60px;
}
.food-menu__donut-img {
  display: flex;
  justify-content: flex-end;
}
.food-menu h6 {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--sections-color-letter);
  margin-bottom: 24px;
  margin-left: 5%;
}
.food-menu h2 {
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: var(--secondary-background);
  margin-left: 5%;
  margin-bottom: 32px;
}
.food-menu__container-food {
  width: 91%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 16px;
}
.food-menu__container-food img {
  object-fit: cover;
}
.food-menu__text-food h5 {
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.72px;
  color: var(--secondary-background);
  margin-bottom: 12px;
}
.food-menu__text-food p {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-background);
}

.stats {
  background-color: var(--secondary-background);
  padding-top: 48px;
  padding-bottom: 1px;
  margin-bottom: 92px;
}
.stats img {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}
.stats h3 {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: var(--white-text);
}
.stats p {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #999;
  margin-bottom: 60px;
}
.stats span {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 14px;
}

.footer {
  background-image: url("../assets/home/footer-background.png");
  background-repeat: repeat;
  padding-top: 32px;
}
.footer__container-logo {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: 5%;
  margin-bottom: 47px;
}
.footer__container-logo div {
  background-color: var(--gold);
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.15);
}
.footer__container-logo div p {
  padding: 15px 20px;
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 34px;
  color: var(--white-text);
}
.footer__name-logo {
  list-style: none;
}
.footer__name-logo li:nth-child(1) {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 2.6px;
  color: var(--color-titles);
}
.footer__name-logo li:nth-child(2) {
  font-family: var(--font-archivo);
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 2.6px;
  color: var(--color-titles);
}
.footer__main-text {
  width: 90%;
  margin: 0 auto;
  font-family: var(--font-archivo);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--sections-color-letter);
  margin-bottom: 40px;
}
.footer nav {
  margin-left: 7%;
  display: flex;
  gap: 26px;
}
.footer nav img {
  padding: 6px;
}
.footer__twitter {
  filter: invert(55%);
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  background-color: var(--gold);
}
.footer h3 {
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 24px;
  color: var(--secondary-background);
  margin-left: 5%;
  margin-top: 32px;
}
.footer__contact-us {
  margin-bottom: 34px;
}
.footer__services {
  width: 90%;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
}
.footer__services li {
  list-style: none;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  color: var(--sections-color-letter);
}
.footer__services-list-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__services-list-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__contact {
  margin-left: 5%;
  margin-bottom: 61px;
  display: flex;
  gap: 21px;
}
.footer__contact li {
  list-style: none;
}
.footer__text-contact {
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 20px;
  color: var(--secondary-background);
}
.footer__phone-number {
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 400;
  color: var(--sections-color-letter);
}
.footer__copyright {
  background-color: #F8F8F8;
  padding-top: 16px;
}
.footer__copyright p {
  margin-left: 5%;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.48px;
  color: var(--secondary-background);
  padding-bottom: 24px;
}

.about-us-principal {
  background-color: var(--principal-background);
}
.about-us-principal h4 {
  width: 65%;
  font-family: var(--font-archivo);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: var(--white-text);
  padding-top: 145px;
  margin-bottom: 40px;
  margin-left: 5%;
}
.about-us-principal h1 {
  width: 90%;
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 56px;
  letter-spacing: -1.2px;
  color: var(--white-text);
  margin-left: 5%;
  margin-bottom: 47px;
}
.about-us-principal__big-container {
  display: flex;
  justify-content: flex-end;
}
.about-us-principal__container {
  margin-right: 5%;
  background-color: var(--white-text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
}
.about-us-principal__container p {
  padding: 12px 18px;
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.48px;
  word-spacing: 4px;
  color: var(--secondary-background);
}
.about-us-principal__container p span {
  color: var(--gold);
}

.about-us-section-1 {
  padding-top: 60px;
}
.about-us-section-1__video {
  width: 90%;
  height: 186px;
  margin: 0 auto;
  margin-bottom: 36px;
}
.about-us-section-1__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us-section-1 h3 {
  width: 90%;
  margin: 0 auto;
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -1.16px;
  text-align: center;
  margin-bottom: 51px;
}
.about-us-section-1__services {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about-us-section-1__services img {
  display: block;
  margin: 0 auto;
}
.about-us-section-1__services p {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2.4px;
  text-align: center;
}
.about-us-section-1__img-airplane {
  filter: invert(0.45) sepia(1);
}
.about-us-section-1__individual-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: var(--white-text);
}
.about-us-section-1__individual-services:hover {
  background-color: var(--gold);
}
.about-us-section-1__individual-services:hover p {
  color: var(--white-text);
}
.about-us-section-1__individual-services:hover img {
  filter: brightness(2);
}

.about-us-restaurant img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 32px;
  margin-top: 71px;
}
.about-us-restaurant h6 {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--sections-color-letter);
  margin-left: 10%;
  margin-bottom: 26px;
}
.about-us-restaurant h2 {
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -1.05px;
  color: var(--secondary-background);
  margin-left: 10%;
}
.about-us-restaurant p {
  width: 78%;
  margin: 0 auto;
  font-family: var(--font-archivo);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--sections-color-letter);
  margin-bottom: 16px;
}
.about-us-restaurant button {
  display: block;
  width: 217px;
  height: 60px;
  background-color: var(--gold);
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  cursor: pointer;
  border: none;
  margin-left: 10%;
  margin-bottom: 80px;
}

.about-us-facilities {
  background-color: var(--secondary-background);
  padding-bottom: 73px;
}
.about-us-facilities h6 {
  font-family: var(--font-archivo);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: var(--white-text);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 24px;
  padding-top: 48px;
}
.about-us-facilities h2 {
  font-family: var(--font-old-standard);
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: var(--white-text);
  text-align: center;
  margin-bottom: 32px;
}
.about-us-facilities__container {
  width: 90%;
  margin: 0 auto;
  background-color: #292929;
}
.about-us-facilities__img-number {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.about-us-facilities__img-number img {
  object-fit: contain;
  align-self: flex-end;
}
.about-us-facilities__number-01 {
  font-family: var(--font-archivo);
  font-size: 120px;
  font-weight: 700;
  color: var(--secondary-background);
}
.about-us-facilities__title-1 {
  font-family: var(--font-old-standard);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  color: var(--white-text);
  margin-bottom: 28px;
  margin-top: 37px;
  margin-left: 4%;
}
.about-us-facilities__text-1 {
  width: 74%;
  font-family: var(--font-archivo);
  font-size: 14px;
  line-height: 24px;
  color: var(--white-text);
  margin-left: 4%;
  padding-bottom: 51px;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

:root {
  --principal-background: #333333;
  --white-text: #ffffff;
  --gold: #BEAD8E;
  --secondary-background: #222222;
  --sections-color-letter: #777777;
  --color-titles: #111;
  --font-archivo: "Archivo";
  --font-old-standard: "Old Standard TT";
  --font-roboto: "Roboto";
}

/*# sourceMappingURL=styles.css.map */
