.header {
    width: 100%;
    position: fixed;
    height: 70px;
    background-color: var(--white-text);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    nav {
        cursor: pointer;
    }

    &__container {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
        margin-left: 32px;
    }

    &__h {
        padding: 11px 13px;
        font-family: var(--font-archivo);
        font-weight: 700;
        font-size: 18px;
    }

    &__name {
        flex: 1;
        list-style: none;
        margin-left: 13px;

        li:nth-child(1) {
            font-family: var(--font-archivo);
            font-weight: 700;
            font-size: 14px;
        }
        
        li:nth-child(2) {
            font-family: var(--font-archivo);
            font-weight: 400;
            font-size: 14px;
        }
    }

    &__account-search {
        img:nth-child(2) {
            margin-left: 28px;
        }
    }
}