@use 'header';
@use 'principal';

html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

:root {
    --principal-background: #333333;
    --white-text: #ffffff;
    --gold-button: #BEAD8E;
}