@use 'header';
@use 'principal';
@use 'check-in';
@use 'about-us';

html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

:root {
    --principal-background: #333333;
    --white-text: #ffffff;
    --gold: #BEAD8E;
    --secondary-background: #222222;
    --sections-color-letter: #777777;
    --color-titles: #111;

    --font-archivo: 'Archivo';
    --font-old-standard: 'Old Standard TT';
    --font-roboto: 'Roboto';
}