.details-related-rooms {
    h2 {
        font-family: var(--font-old-standard);
        font-size: 30px;
        font-weight: 400;
        color: var(--secondary-background);
        margin-bottom: 13px;
        margin-left: 5%;
    }

    &__line {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 35px;
        border: 1px solid #F1F1F1;
    }

    &__swiper-buttons {
        --swiper-navigation-size: 10px;
        --swiper-navigation-color: var(--color-titles);
        padding: 18px;
        background-color: var(--white-text);
        top: 20% !important;
    }

    &__swiper-buttons:hover {
        background-color: var(--gold);
        --swiper-navigation-color: var(--white-text);
        transition: 0.3s;
    }
}

@media only screen and (min-width: 1000px) {
    .details-related-rooms {
        h2 {
            margin-left: 15%;
        }
        &__line {
            width: 35%;
            margin: unset;
            margin-left: 13%;
            margin-bottom: 40px;
        }

        &__swiper {
            width: 50%;
        }

        .swiper {
            margin: unset;
            margin-left: 15%;
            margin-bottom: 100px;
        }
    }
}