.about-us-section-1 {
    padding-top: 60px;

    &__video {
        width: 90%;
        height: 186px;
        margin: 0 auto;
        margin-bottom: 36px;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h3 {
        width: 90%;
        margin: 0 auto;
        font-family: var(--font-old-standard);
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: -1.16px;
        text-align: center;
        margin-bottom: 51px;
    }

    &__services {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img {
            display: block;
            margin: 0 auto;
        }

        p {
            font-family: var(--font-archivo);
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 2.4px;
            text-align: center;
        }
    }

    &__img-airplane {
        filter: invert(0.45) sepia(1);
    }

    &__individual-services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 160px;
        background-color: var(--white-text);
    }

    &__individual-services:hover {
        background-color: var(--gold);

        p {
            color: var(--white-text);
        }

        img {
            filter: brightness(2);
        }
    }

    &__bbq-party {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .about-us-section-1 {
        &__video {
            max-width: 1170px;
            height: 650px;
        }

        h3 {
            font-size: 72px;
            width: 55%;
            line-height: 88px;
            letter-spacing: -2.16px;
        }

        &__services-container {
            width: 55%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }

        &__services {
            width: unset;
            margin: unset;
        }

        &__bbq-party {
            display: inherit;
        }
    }
}