@use '../home/principal' as principal;

.about-us-restaurant {
    img {
        display: block;
        margin: 0 auto;
        object-fit: cover;
        margin-bottom: 32px;
        margin-top: 71px;
    }

    h6 {
        font-family: var(--font-archivo);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 2.8px;
        color: var(--sections-color-letter);
        margin-left: 10%;
        margin-bottom: 26px;
    }

    h2 {
        font-family: var(--font-old-standard);
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: -1.05px;
        color: var(--secondary-background);
        margin-left: 10%;
    }

    p {
        width: 78%;
        margin: 0 auto;
        font-family: var(--font-archivo);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: var(--sections-color-letter);
        margin-bottom: 16px;
    }

    button {
        @include principal.button-style(var(--gold));
        border: none;
        margin-left: 10%;
        margin-bottom: 80px;
    }
}

@media only screen and (min-width: 1000px) {
    .about-us-restaurant {
        width: 61%;
        margin: 0 auto;
        box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;

        img {
            width: 45%;
            max-width: 530px;
            height: 35%;
            max-height: 420px;
            margin: unset;
        }

        &__info {
            button {
                box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.36);
            }
        }
    }
}