.about-us-facilities {
    background-color: var(--secondary-background);
    padding-bottom: 25px;
    margin-bottom: 60px;

    h6 {
        font-family: var(--font-archivo);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 2.8px;
        color: var(--white-text);
        text-align: center;
        margin-top: 60px;
        margin-bottom: 24px;
        padding-top: 48px;
    }

    h2 {
        font-family: var(--font-old-standard);
        font-size: 56px;
        font-weight: 400;
        letter-spacing: -1.2px;
        color: var(--white-text);
        text-align: center;
        margin-bottom: 32px;
    }

    &__container {
        width: 90%;
        margin: 0 auto;
        background-color: #292929;
    }

    &__img-number {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        img {
            object-fit: contain;
            align-self: flex-end;
        }
    }

    &__number-01 {
        font-family: var(--font-archivo);
        font-size: 120px;
        font-weight: 700;
        color: var(--secondary-background);
    }

    &__title-1 {
        font-family: var(--font-old-standard);  
        font-size: 30px;
        font-weight: 400;
        letter-spacing: -0.9px;
        color: var(--white-text);
        margin-bottom: 28px;
        margin-top: 37px;
        margin-left: 4%;
    }

    &__text-1 {
        width: 74%;
        font-family: var(--font-archivo);
        font-size: 14px;
        line-height: 24px;
        color: var(--white-text);
        margin-left: 4%;
        padding-bottom: 51px;
        margin-bottom: 46px;
    }

    &__pagination {
        --swiper-pagination-color: var(--gold);
    }

    &__big-container {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .about-us-facilities {
        h6 {
            padding-top: 100px;
        }

        h2 {
            font-size: 80px;
        }

        .swiper {
            display: none;
        }

        &__big-container {
            width: 70%;
            margin: 0 auto;
            gap: 35px;
            display: flex;
            margin-bottom: 35px;
        }
    }
}