.footer {
    background-image: url("../assets/home/footer-background.png");
    background-repeat: repeat;
    padding-top: 32px;

    &__container-logo {
        display: flex;
        align-items: center;
        gap: 28px;
        margin-left: 5%;
        margin-bottom: 47px;

        div {
            background-color: var(--gold);
            box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.15);

            p {
                padding: 15px 20px;
                font-family: var(--font-archivo);
                font-weight: 700;
                font-size: 34px;
                color: var(--white-text);
            }
        }
    }

    &__name-logo {
        list-style: none;

        li:nth-child(1) {
            font-family: var(--font-archivo);
            font-weight: 700;
            font-size: 26px;
            letter-spacing: 2.6px;
            color: var(--color-titles);
        }

        li:nth-child(2) {
            font-family: var(--font-archivo);
            font-weight: 400;
            font-size: 26px;
            letter-spacing: 2.6px;
            color: var(--color-titles);
        }
    }

    &__main-text {
        width: 90%;
        margin: 0 auto;
        font-family: var(--font-archivo);
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--sections-color-letter);
        margin-bottom: 40px;
    }

    nav {
        margin-left: 7%;
        display: flex;
        gap: 26px;

        img {
            padding: 6px;
        }
    }

    &__twitter {
        filter: invert(55%);
    }

    a {
        text-decoration: none;
    }

    a:hover {
        background-color: var(--gold);
    }

    h3 {
        font-family: var(--font-old-standard);
        font-weight: 400;
        font-size: 24px;
        color: var(--secondary-background);
        margin-left: 5%;
        margin-top: 32px;
    }

    &__contact-us {
        margin-bottom: 34px;
    }

    &__services {
        width: 90%;
        margin: 0 auto;
        margin-top: 32px;
        display: flex;

        li {
            list-style: none;
            font-family: var(--font-roboto);
            font-weight: 400;
            font-size: 16px;
            color: var(--sections-color-letter)
        }
    }

    &__services-list-1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__services-list-2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__contact {
        margin-left: 5%;
        margin-bottom: 61px;
        display: flex;
        gap: 21px;

        li {
            list-style: none;
        }
    }

    &__text-contact {
        font-family: var(--font-old-standard);
        font-weight: 400;
        font-size: 20px;
        color: var(--secondary-background);
    }

    &__phone-number {
        font-family: var(--font-roboto);
        font-size: 14px;
        font-weight: 400;
        color: var(--sections-color-letter);
    }

    &__copyright {
        background-color: #F8F8F8;
        padding-top: 16px;

        p {
            margin-left: 5%;
            font-family: var(--font-roboto);
            font-weight: 700;
            font-size: 16px;
            letter-spacing: -0.48px;
            color: var(--secondary-background);
            padding-bottom: 24px;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .footer {
        &__big-container {
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 100px;
        }

        &__info-container {
            width: 25%;
        }

        &__contact-us-container {
            img {
                object-fit: contain;
            }
        }

        &__contact {
            margin-left: 0;
        }

        &__container {
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            p {
                margin-left: 0;
            }
        }
    }
}