.food-menu {
    margin-top: 60px;

    &__donut-img {
        display: flex;
        justify-content: flex-end;
    }

    h6 {
        font-family: var(--font-archivo);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 2.8px;
        color: var(--sections-color-letter);
        margin-bottom: 24px;
        margin-left: 5%;
    }

    h2 {
        font-family: var(--font-old-standard);
        font-weight: 400;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: -1.2px;
        color: var(--secondary-background);
        margin-left: 5%;
        margin-bottom: 32px;
    }

    &__container-food {
        width: 91%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 16px;

        img {
            object-fit: cover;
        }
    }

    &__swiper-menu {
        max-width: 500px;
    }

    &__text-food {
        h5 {
           font-family: var(--font-old-standard); 
           font-weight: 400;
           font-size: 24px;
           letter-spacing: -0.72px;
           color: var(--secondary-background);
           margin-bottom: 12px;
        }

        p {
            font-family: var(--font-roboto);
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: var(--secondary-background);
        }
    }

    &__nav-buttons-mobile {
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
        gap: 16px;
    }

    &__nav-buttons-desktop {
        display: none;
    }

    &__prev-button,
    &__next-button {
        color: var(--color-titles);
        padding: 10px 16px;
        background-color: var(--white-text);
    }

    &__prev-button:hover,
    &__next-button:hover {
        background-color: var(--gold);
        color: var(--white-text);
        transition: 0.3s;
    }

    &__img-food-swiper {
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
    }

    &__img-slide {
        img {
            display: block;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            object-fit: cover;
            padding-bottom: 40px;
        }
    }

    &__pagination {
        --swiper-pagination-color: var(--gold);
    }

    &__big-donut {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .food-menu {

        h6 {
            margin-left: 2%;
        }

        h2 {
            margin-left: 2%;
        }

        &__tiny-donut {
            display: none;
        }

        &__big-donut {
            display: block;
        }

        &__donut-img {
            display: block;
            margin-left: 4%;
        }

        &__big-container {
            width: 70%;
            margin: 0 auto;
        }

        &__swiper-menu {
            width: 100%;
            max-width: none;
        }

        &__nav-buttons-mobile {
            display: none;
        }

        &__nav-buttons-desktop {
            display: flex;
            justify-content: flex-end;
            margin-right: 5%;
            gap: 16px;
        }

        &__img-food-swiper {
            width: 70%;
        }
    }
}