@use 'principal';

.intro-video {
    background-color: var(--secondary-background);
    padding-bottom: 48px;

    h6 {
        font-family: var(--font-archivo);
        font-size: 14px;
        letter-spacing: 2.8px;
        color: #BDAC8D;
        padding-top: 64px;
        margin-left: 5%;
        margin-bottom: 32px;
    }

    h2 {
        width: 90%;
        font-family: var(--font-old-standard);
        font-weight: 400;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: -1.2px;
        color: var(--white-text);
        margin-left: 5%;
    }

    p {
        width: 90%;
        font-family: var(--font-archivo);
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #c2c2c2;
        margin-left: 5%;
        margin-bottom: 32px;
    }

    &__video {
        width: 90%;
        height: 270px;
        margin: 0 auto;
        margin-bottom: 36px;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__button-mobile {
        @include principal.button-style(var(--gold));
        border: none;
        background-color: #BDAC8D;
        font-family: var(--font-archivo);
        font-size: 14px;
        letter-spacing: 2.8px;
        margin-left: 5%;
    }

    &__button-desktop {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .intro-video {
        &__button-desktop {
            @include principal.button-style(var(--gold));
            border: none;
            background-color: #BDAC8D;
            font-family: var(--font-archivo);
            font-size: 14px;
            letter-spacing: 2.8px;
            margin-left: 5%;
        }

        &__button-mobile {
            display: none;
        }

        &__big-container {
            width: 70%;
            margin: 0 auto;
            padding-top: 120px;
            display: flex;
        }

        &__video {
            height: 460px;
            max-width: 520px;
            min-width: 500px;
        }
    }
}