.stats {
    background-color: var(--secondary-background);
    padding-top: 48px;
    padding-bottom: 1px;
    margin-bottom: 92px;
    margin-top: 60px;

    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 12px;
    }

    h3 {
        font-family: var(--font-roboto);
        font-weight: 700;
        font-size: 60px;
        text-align: center;
        color: var(--white-text);
    }

    p {
        font-family: var(--font-roboto);
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #999;
        margin-bottom: 60px;
    }

    span {
       font-family: var(--font-roboto);
       font-weight: 700;
       font-size: 14px;
    }
}

@media only screen and (min-width: 1000px) {
    .stats {
        width: 70%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 120px;
        display: flex;
        justify-content: space-around;
    }
}